<div class="anchor" id="main"></div>
<header class="header" style="background-image: url(images/title-bg.jpg);">
    <div class="container">
        <div class="header__top">
            <a class="header__logo" href="#">
                <img src="images/logo.png" alt="logo-wild">
            </a>
            <nav class="header__nav">
                <div class="header__dropdown">
                    <span class="header__line"></span>
                    <span class="header__line"></span>
                    <span class="header__line"></span>
                </div>
                <ul class="header__list">
                    <li class="header__list-item">
                        <a href="#" class="header__link">
                            ГЛАВНАЯ
                            <span class="header__link-focus">

                            </span>
                        </a>
                    </li>
                    <li class="header__list-item">
                        <a href="#about" class="header__link">
                            О НАС
                            <span class="header__link-focus">

                            </span>
                        </a>
                    </li>
                    <li class="header__list-item">
                        <a href="#gallery" class="header__link">
                            ГАЛЕРЕЯ
                            <span class="header__link-focus">

                            </span>
                        </a>
                    </li>
                    <li class="header__list-item">
                        <a href="#journal" class="header__link">
                            ЖУРНАЛ
                            <span class="header__link-focus">

                            </span>
                        </a>
                    </li>
                    <li class="header__list-item">
                        <a href="#contact" class="header__link">
                            КОНТАКТЫ
                            <span class="header__link-focus">

                            </span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <h1 class="header__title" data-aos="fade-down" data-aos-duration="1500">
            ВАША ЖИЗНЬ СТАНЕТ
            <span class="header__edit">
                ПРИКЛЮЧЕНИЕМ
            </span>
        </h1>
        <a class="header__btn" href="#form">
            Найти вдохновение
            <span class="header__btn-focus">
            </span>
        </a>
    </div>
</header>