$gray: #9C9C9C;
$gray-black: #4E4E4E;
$blue: #98B8F6;

@mixin r700 {
    font-family: Roboto, sans-serif;
    font-weight: 700;
}

@mixin f300 {
    font-family: ProximaNova, sans-serif;
    font-weight: 300;
}

@mixin f700 {
    font-family: ProximaNova, sans-serif;
    font-weight: 700;
}

@mixin f900 {
    font-family: ProximaNova, sans-serif;
    font-weight: 900;
}

@mixin img {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

@mixin click-area {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    min-width: 44px;
    height: 44px;
    content: '';
    transform: translateY(-50%);
}

@mixin focus-line {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 0;
    height: 100%;
}
